.wrapper{
	display: flex;	/*positions itemss in a div evenly, responsively*/
	align-items: stretch;	/*equalize height of page content and sidebar*/
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;	/*vh = viewport height*/
}

#sidebar.active{
    min-width: 80px;
    max-width: 80px;
}

/*[] are for attributes*/
a[data-toggle="collapse"] {
    position: relative;
}

/*sidebar toggle animation*/
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

/*hiding of links and header when toggled*/
#sidebar.active .sidebar-header{
    display: none;
}

#sidebar.active a{
    display: none;
}
